body {
    background-color: rgb(0, 0, 0);
}

.backgroundsection1 {
    background-image: url(file:///home/solo/git/web/img/coder.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 37em;
    width: 100%;
}

.h1_style {
    margin-top: 3em;
    text-align: center;
    color: rgb(14, 250, 1);
}